<div id="app">
<div>
  <h2>Add a beer: </h2>
  <div>
    Name: <input type="text" v-model="newBeerName">
    Style: <input type="text" v-model="newBeerStyle">
    Alcohol: <input type="text" v-model="newBeerAlcohol">
    <button v-on:click="addBeer">Add Beer</button>
  </div>
</div>
  <div v-for="beer in beers">
    <h2>{{ beer.name }}</h2>
    <h2>{{ beer.style }}</h2>
    <h2>{{ beer.alcohol }}</h2>
    <br>
  </div>
</div>